.card {
    width: 364px;
    overflow: hidden;
    background: white;
}

.card-no-events {
    pointer-events: none;
    user-select: none;
}

.img-disabled {
    filter: grayscale(1) brightness(0.6);
    opacity: 0.7;
    transition: 0.3s ease;
}

.card-image-container {
    position: relative;
    width: 364px;
    height: 538px;
    overflow: hidden;
}

.card-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.card-title {
    padding-top: 10px;
    font-family: Playfair;
    font-weight: 700;
    font-size: 20px;
}

.card-description {
    padding-top: 15px;
    font-family: Playfair;
    font-weight: 400;
    font-size: 16px;
}

.card-button {
    color: #FFFFFF;
    position: absolute;
    bottom: 20px;  
    left: 50%;
    transform: translateX(-50%);
    width: 137px;
    height: 30px;
    background: #4C2B08;
    border: none;
    font-family: Playfair;
    font-weight: 600;
    font-size: 14px;
    cursor: pointer;
    z-index: 2;
    transition: background 0.3s ease, opacity 0.3s ease;
}

.card-no-events .card-button {
    opacity: 0.9;
    background: #494949;
    cursor: default;
}


