.album-session {
    padding-top: 70px;
    display: grid;
    grid-template-columns: repeat(5, minmax(0, 1fr));
    gap: 18px;
    width: calc(100% - 100px);
    margin: 0 auto;
}

.mobile-grid {
    grid-template-columns: repeat(2, 1fr);
}

@media (max-width: 500px) {
    .mobile-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

.album-item {
    height: 444px;
    width: 100%;
    overflow: hidden;
    margin: 0 auto;
}

.album-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.mobile-carousel {
    display: flex;
    transition: transform 0.4s ease-in-out;
    width: 100%;
}

.mobile-page {
    min-width: 100%;
}

.nav-btn {
    position: absolute;
    top: 35%;
    z-index: 20;
    background: none;
    border: none;
    font-size: 40px;
    cursor: pointer;
}

.nav-btn.left { left: 5px; }
.nav-btn.right { right: 5px; }

@media (max-width: 768px) {
    .album-item {
        height: 200px;
    }
}