.carousel {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.carousel-titles-overlay {
  position: absolute;
  top: 80px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
  display: flex;
  padding: 10px 20px;
  border-radius: 10px;
  gap: 40px;
}

.carousel-title {
  font-family: Playfair;
  font-weight: 100;
  color: white;
  font-size: 32px;
  line-height: 100%;
  cursor: pointer;
}

.carousel-title.active {
  border-bottom: 2px solid white;
}

.carousel-dots {
  position: absolute;
  bottom: 30px;
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 12px;
  z-index: 20;
}

.dot {
  width: 60px;
  height: 6px;
  background-color: rgba(255, 255, 255, 0.4);
  border-radius: 4px;
  cursor: pointer;
  transition: 0.3s;
}

.dot.active {
  background-color:#B67839;;
  width: 60px;
  height: 6px;
}

.carousel-inner {
  display: flex;
  width: 100%;
  transition: transform 0.5s ease-in-out;
}

.carousel-item {
  min-width: 100%;
}

.carousel-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
